<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Hello friend!</title>
  </head>
  <body>
    <h1>Car Dealership</h1>
    <form action="/cars" method="post">
      <label for="makeModel">Add a new car model</label>
      <input id="makeModel" name="makeModel" type="text">
      <label for="price">Add it's price</label>
      <input id="price" name="price" type="text">
      <label for="miles">Add the miles</label>
      <input id="miles" name="miles" type="text">
      <button type="submit">Submit</button>
    </form>
  </body>
</html>